{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text"><strong>{{ task.title }} - {{ task.presumable_completion_time }}</strong></p>
                        <p class="card-text">{{ task.description }}</p>
                        <img style="height: 20rem;" src="{{ task.image | media_filter }}">
                        <p class="card-text">{{ task.file }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'tasks:task_list'%}" role="button">Назад</a>
                                <a class="btn btn-primary" href="{% url 'tasks:task_update' task.pk %}" role="button">Редактировать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
